@import './base/base.scss';
@import './base/helpers';
@import './base/typographie';
@import './components/buttons';
@import './components/searchBar';
@import './components/table';
@import './components/variables';
@import './layouts/l-articles';
@import './layouts/l-footer';
@import './layouts/l-header';
@import './layouts/l-hero';
@import './layouts/l-main';
@import './layouts/l-recipe-card';
@import './layouts/l-recipesSection.scss';
@import './libs/fonts';
@import './libs/functions';
@import './libs/mixins';
@import './libs/recipeCards';


.logo {
    position: relative;
    top: -13vh;
    left: -31.5vw;

    img {
        width: 207px;
        height: 25.261px;
    }
}

section {
    box-sizing: border-box;
    display:flex;
    flex-direction: column;
    padding: 21px 79px ;
    width: 1440px;
    gap: 21px;

}

.filtersSec {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.filtersDiv {
    display: flex;
    justify-content: space-between;
    width: 717px;
}

.filters {
    display: inline-flex;
    justify-content: space-between;
    width: 195px;
    height: auto;

    padding: 17px 16px;
    align-items: center;
    gap: 63px;

    border-radius: 11px;
    border: none;
    background: white;
    font-size: 16px;
}

input [type="text"] {
    border: none;
}
.filtered {
    background: $main-color;
}

.filterAction {
    position: relative;
}

.filterAction:focus {
    cursor: pointer;
}

.isDisplayed {
    display: none;
}

.filteredRecipesDiv {
    position: absolute;
}

