@import './base/base.scss';
@import './base/helpers';
@import './base/typographie';
@import './components/buttons';
@import './components/dropdown';
@import './components/filters';
@import './components/searchBar';
@import './components/table';
@import './components/variables';
@import './layouts/l-articles';
@import './layouts/l-footer';
@import './layouts/l-header';
@import './layouts/l-hero';
@import './layouts/l-main';
@import './layouts/l-recipe-card';
@import './layouts/l-recipesSection.scss';
@import './libs/fonts';
@import './libs/functions';
@import './libs/mixins';
@import './libs/recipeCards';


.logo {
    position: absolute;
    top: 70px;
    left: 75px;

    img {
        width: 207px;
        height: 25.261px;
    }
}

section {
    box-sizing: border-box;
    position: relative;
    display:flex;
    flex-direction: column;
    padding: 21px 79px ;
    width: 1440px;
    gap: 21px;

}

input [type="text"] {
    border: none;
}
