@import './variables';

.dropdown-container {
    position: absolute;
    top: 46px;
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 1000;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

    .dropdown-list {
        width: 100%;
        margin-left: 0;
        
        .dropdown-item {
            box-sizing: border-box;
            width: 100%;
            padding-left: 15px;
            margin-left: 0;
            text-align: left;
        }

        .highlight {
            background-color: $main-color;
        }
    }

    
}
