@import './variables';

.filtersSec {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 999;
}

.filtersDiv {
    display: flex;
    justify-content: space-between;
    width: 717px;
}

.divFilter {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

.divFilterInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #5c6066;
}

.divFilterInput:has(input:focus) {
    border: 1px solid black;
}

.filter {
    width: 195px;
    background: white;
    border-radius: 12px;
}

.filters {
    display: inline-flex;
    justify-content: space-between;
    width: 195px;
    /*height: auto;*/

    padding: 17px 16px;
    align-items: center;
    gap: 63px;

    border-radius: 11px;
    border: none;
    background: white;
    font-size: 16px;

    cursor: pointer;
}

.filter-input {
    width: 163px;
    height: 36px;
    padding-left: 10px;
    border: 0;

    font-size: 16px;
}

.filter-input:focus {
    outline: 0;
}

.fa-magnifying-glass {
    margin-right: 10px;
}

.filtered {
    background: $main-color;
}

.filterAction {
    position: relative;
}

.filterAction:focus {
    cursor: pointer;
}

.isDisplayed {
    display: none;
}

.filteredRecipesDiv {
    position: absolute;
}

#recipesFound {
    position: relative; // Ensure it doesn't get affected by dropdowns
    top: 0;  // Reset any unwanted offset
    transform: none;  // Ensure it doesn't move on dropdown open
}