@import './variables';

.filtersSec {
    position: absolute;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    z-index: 999;
}

.filtersDiv {
    display: flex;
    justify-content: space-between;
    width: 717px;
}

.filter {
    width: 195px;
    background: white;
    border-radius: 12px;
}

.filters {
    display: inline-flex;
    justify-content: space-between;
    width: 195px;
    /*height: auto;*/

    padding: 17px 16px;
    align-items: center;
    gap: 63px;

    border-radius: 11px;
    border: none;
    background: white;
    font-size: 16px;

    cursor: pointer;
}

.filter-input {
    width: 163px;
    height: 36px;
}

.filtered {
    background: $main-color;
}

.filterAction {
    position: relative;
}

.filterAction:focus {
    cursor: pointer;
}

.isDisplayed {
    display: none;
}

.filteredRecipesDiv {
    position: absolute;
}