@import './variables';

.ingredientsTable {
    display: flex;
    flex-direction: column;
    width: 330px;

    tr {
        display: flex;
    }

    td {
        width: 50%;
    }

    tr:nth-child(odd)::after {
        display: block;
    }

    .downRow {
        padding-bottom: 21px;
    }
}

