@import '../components/variables';

body {
    h1 {
        font-family: $font-titles;
        text-align: center;
        font-size: 44px;
        color: $main-color;
    }

    h2 {
        font-family: $font-titles;
        font-size: 18px;
        color: $black;
    }

    h2 #recipesFound {
        font-size: 21px;
    }

    h3 {
        font-family: $font-text;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.08px;
        text-transform: uppercase;
        color: $second-color;
    }
    
    p {
        font-family: $font-text;
        font-size: 14px;
        color: $black;
    }

    .ingredients {
        color: $second-color;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: left;
        line-height: 35px;
        font-family: $font-text;
    }

    ul li {
        width: 118px;
        margin-left: -50px;
    }

    ul li:hover {
        cursor: pointer;
        background-color: $main-color;
    }

    .text_placeholder {
        font-size: 16px;
        color: $second-color;
    }

    .time_cta{
        font-size: 12px;
        text-align: center;
    }

    th {
        padding: 15px 0 15px;
        text-align: left;
        color: $second-color;
        font-family: $font-text;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
        text-transform: uppercase;
    }

    td {
        font-family: $font-text;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        color: black;
    }

    i {
        font-weight: 400;
        color: $second-color;
    }

    .fa-solid {
        color: black;
    }
}